
img {
  max-width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

img.emoji {
  box-shadow: none;
  display: inline;
  margin: 0;
  border-radius: 0;
}

// CSS Attribute Selectors: https://www.w3schools.com/css/css_attribute_selectors.asp
iframe[src^="https://www.youtube.com/embed/"], // ^ means "starts with"
embed[src$=".pdf"],
// $ means "ends with"
div.youtube
{
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* ==========================================================================
   MASTHEAD Gospel section
   Basis: \_sass\minimal-mistakes\_masthead.scss
   ========================================================================== */

.masthead_gospel {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4.6em 0.3em 1em;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: $sans-serif-narrow;

  @include breakpoint($x-small) {
    padding: 0 4.8em 0.3em 1em;
  }
  
  @include breakpoint($medium) {
    padding: 0 4.6em 0.3em 1em;
  }
  
  @include breakpoint($x-large) {
    max-width: $max-width;
  }

  a {
    text-decoration: none;
  }
}

.masthead_gospel__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

.masthead_gospel__menu-item {
  list-style-type: none;
  float: right;
  margin-right: 1rem;
}


/* ==========================================================================
   Some CSS overriden to make things look good with the breaking changes I made
   ========================================================================== */
.author__avatar {
  padding-left: 2px;

  img {
    box-shadow: none;
  }
}

.masthead__inner-wrap {
  padding-bottom: 0;
  padding-top: 0.3em
}

.page__hero {
  margin-bottom: 1em;
}

.page__hero-image {
  object-fit: cover;
  box-shadow: none;
}

// // Removes left sidebar in posts
// article.page {
//   float: left;
//   width: 100%;
// }

// // Removes left sidebar in pages
// .archive {
//   float: left;
//   width: 100%;
// }
